.inputDiv {
    
    position: relative;
}
.inputDiv > input {
    
    padding-left: 25px;
    outline: 0;
}
.inputDiv > img {
    position: absolute;
    top: 10px;
    
    left: 5px;
}


.texto1{
    font-family: Noto Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.035em;
    text-align: left;
    color: #333333;

}

texto4{
    color: #FFF;
text-align: center;
font-family: Noto Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.56px;
}
.margin{
    margin-left: 320px;
}
.card {
    border: none; /* Elimina el borde */
    box-shadow: none; /* Elimina el sombreado */
    /* Otros estilos personalizados si es necesario */
}

.line{
    border: 1px solid #3e3b3b
}
.contenido{
    margin-left: 180px;
}